<!DOCTYPE html>
<html>
<head>
  <title>SaveOhno</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="logo-wrapper">
    <%= image_tag 'logo.png', class: 'logo' %>
  </div>
  <h1> Coming soon! </h1>
</body>
</html>