body {
	background-color: #63B1D5;
}

h1 {
	text-align: center;
	font-family: Trebuchet MS;
	color: white;
	font-weight: normal;
}

.logo {
	width: 40%;
	margin-top: 15%;
}

.logo-wrapper {
	text-align: center;
}