/* Universal */

@font-face { 
    font-family: Orator Std;
    src: url('/assets/fonts/oratorstd.otf');
}

@font-face {
    font-family: 'BerlinSansFB';
    src: url(font-path('BerlinSansFB.ttf')) format('truetype')
}

html, body {
	height: 100%;
	overflow-x: hidden; 
    overflow-y: hidden;
}

body {
	/* background-color: #63B1D5; */
	background-image: url(background3.png); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

p {
    display: inline;
}

header {
    background-image: url(futuristic-header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: -1%;
    margin-top: -1%;
    width: 102%;
    height: 10%;
    position: relative;
}

.logo {
    width: 15%;
    margin-left: 2%;
    margin-top: 1%;
    opacity: 0.7;
}

h1 {
	text-align: center;
	font-family: 'BerlinSansFB';
	/* color: #5E7382; */
    color: white;
    -webkit-text-stroke: 0.25px black;
}

h3 {
    text-align: center;
    font-family: 'Orator Std';
    color: black;
}

/* Home page */

.floating-display {
    text-align: center;
    width: 100%;
    margin-top: 8%;
    display: inline-block;
    position: relative;
}

.floating-display-img {
    width: 50%;
    border-radius: 5px;
}

.hub {
    margin-top: 1%;
    margin-right: 1%;
    float: right;
    position: relative;
    background-color: white;
    #hub-start {
        position: absolute;
        z-index: 0;
        right: 0;
    }
    #fingerprint {
        position: absolute;
        z-index: 1;
        padding-right: 7px;
        margin-top: 6px;
        right: 0;
    }
    #access-granted {
        position: absolute;
        z-index: 1;
        padding-right: 7px;
        margin-top: 25px;
        opacity: .75;
        right: 0;
        font-size: 90%;
    }
    #who-is-ohno {
        position: absolute;
        z-index: 1;
        padding-right: 7px;
        margin-top: 6px;
        right: 62px;
    }
    #what-is-saveohno {
        position: absolute;
        z-index: 1;
        padding-right: 7px;
        margin-top: 6px;
        right: 51px;
        top: 60px;
    }
    #stay-updated {
        position: absolute;
        z-index: 1;
        padding-right: 7px;
        margin-top: 6px;
        right: 25px;
        top: 85px;
    }
}

   /* Who is ohno */

.who-is-ohno-content {
	width: 100%;
	position: absolute;
	top: 15px;
    font-size: 2em;
    font-family: 'Orator Std';
}

.ohno {
    width: 7.5%;
    position: absolute;
    left: 0; 
    right:0;
    margin: auto;
}

.ohno-wrapper {
    width: 100%;
    background-color: white;
}

   /* What is SaveOhno */

.what-is-saveohno-content {
    width: 100%;
    position: absolute;
    top: 15px;
    font-size: 2em;
    font-family: 'Orator Std';
}





